<form action="#">
    <div class="space">
        <h3>Component request Form</h3>
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Task Name</label>
                </div>
            </div>


            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Component type</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Component Category</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows="4" id="sample5"></textarea>
                    <label class="mdl-textfield__label" for="sample5">Short Description</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows="4" id="sample5"></textarea>
                    <label class="mdl-textfield__label" for="sample5">Solution Description</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Industry focus</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Digital Group</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Supporting Group</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Offerings</label>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Submit
</button>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  Reset
</button>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Cancel
</button>
            </div>
        </div>
    </div>
</form>