<!--<!--<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/component-set.css" rel="stylesheet">
    <!--<link href="../node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--<style>

    </style>
</head>

<body>
    <!--Menu Starts Here-->

<!--<nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./tasks.html">Tasks</a></li>
                <li>
                    <a href="#!user"><img class="circle" src="../assets/images/yuna.jpg"> Hello User</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./tasks.html">Tasks</a></li>
                <li>
                    <a href="#!user"><img class="circle" src="../assets/images/yuna.jpg"> Hello User</a>
                </li>
            </ul>
        </div>
    </nav>-->
<!--Menu Ends Here-->

<!--TASK PANE STARTS HERE-->

<!--<div class="container">
        <div class="row">
            <div id="prog" data-activates="slide-out-left" class="button-collapse-left">
            </div>
            <div id="prog2" data-activates="slide-out-right" class="button-collapse-right">
            </div>
        </div>
    </div>


    <ul id="slide-out-left" class="side-nav">
        <div id="head">
            <h5>Completed Tasks</h5>
        </div>
        <div class="container bdy">
            <div class="row heading">
                <div class="col l3 m3 s3 bdy1 heading">Task ID </div>
                <div class="col l3 m3 s3 bdy1 heading">Task Name </div>
                <div class="col l3 m3 s3 bdy1 heading">Domain </div>
                <div class="col l3 m3 s3 bdy1 heading">Date </div>

            </div>
            <hr>

            <div class="row">
                <div class="col l3 m3 s3 bdy1">T123561</div>
                <div class="col l3 m3 s3 bdy1">Button component </div>
                <div class="col l3 m3 s3 bdy1">WebTech </div>
                <div class="col l3 m3 s3 bdy1">02Jan2017 </div>

            </div>
            <hr>

            <div class="row">
                <div class="col l3 m3 s3 bdy1">T735687</div>
                <div class="col l3 m3 s3 bdy1">Cloud Services </div>
                <div class="col l3 m3 s3 bdy1">Cloud </div>
                <div class="col l3 m3 s3 bdy1">17May2016 </div>
            </div>
            <hr>

            <div class="row">
                <div class="col l3 m3 s3 bdy1">T874746</div>
                <div class="col l3 m3 s3 bdy1">Manual Testing </div>
                <div class="col l3 m3 s3 bdy1">Testing </div>
                <div class="col l3 m3 s3 bdy1">09Jul2016 </div>

            </div>
            <hr>

            <div class="row">
                <div class="col l3 m3 s3 bdy1">T687471</div>
                <div class="col l3 m3 s3 bdy1">Button component </div>
                <div class="col l3 m3 s3 bdy1">WebTech </div>
                <div class="col l3 m3 s3 bdy1">22Dec2015 </div>

            </div>
            <hr>

            <div class="row">
                <div class="col l3 m3 s3 bdy1">T909362</div>
                <div class="col l3 m3 s3 bdy1">Cloud Services </div>
                <div class="col l3 m3 s3 bdy1">Cloud </div>
                <div class="col l3 m3 s3 bdy1">27Oct2015 </div>

            </div>
            <hr>

            <div class="row">
                <div class="col l3 m3 s3 bdy1">T987971</div>
                <div class="col l3 m3 s3 bdy1">Manual Testing </div>
                <div class="col l3 m3 s3 bdy1">Testing </div>
                <div class="col l3 m3 s3 bdy1">10Sept2016 </div>

            </div>
        </div>
    </ul>


    <ul id="slide-out-right" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <video id="vid" playsinline autoplay loop muted src="https://s3.amazonaws.com/tci-assets/home-videos/salad-and-garden-snail-2017.mp4"></video>-->
<!--<script>
        setTimeout(function() {
            document.querySelector('video').classList.add('shown');
        }, 5);
    </script>-->




<!--
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>-->
<!--<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../node_modules/progressbar.js/dist/progressbar.min.js"></script>-->
<!--<script src="../assets/js/material-req.js"></script>
    <script src="../assets/js/progress.js"></script>-->


<!--</body>

</html>-->